
.navbar{
    background: linear-gradient(to bottom, #981914,#191919, #404040)
}
.liNav nav ul{
    display: flex;
    flex-direction: row;
}
.liNav nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6em;
    padding-right: 6em;
    list-style: none;
}
.liNav ul li a{
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}
.gridTrabajos{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 320);
    grid-template-rows: 25rem;
    grid-template-areas: 'Motor Tapa Embrague Extra' ;
}
.gridTrabajos div div ul li{
    background-color: #191919;
    color: white;
    border-color: red;
}
div .gridMotores{
    grid-area: Motor;
    padding-left: 2rem;
}
div .gridTapas{
    grid-area: Tapa;
}
div .gridEmbragues{
    grid-area: Embrague;
}
div .gridExtra{
    grid-area: Extra;
}
.gridPresupuesto{
    justify-content: baseline;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'grid1 grid2 grid3';
}
.grid1{
    padding-right: 1rem;
    padding-left: 1rem;
    grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    padding-left: 1rem;
    padding-right: 1rem;
    grid-area: grid3;
}
.h1presupuesto{
    text-align: center;
    font-size: 4rem;
    color: #981914;
    padding: 4rem;
}
.gridContainer{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'imgL hist imgR';
}
.h1Hist{
    text-align: center;
    font-size: 4rem;
    color: #981914;
}
.hist{
    text-align: center;
    font-size: 1.8rem;
    width: 45rem;
    color: rgb(233, 229, 229);
    padding-right: 2rem;
}
div .imgL{ 
    grid-area: imgL;
    justify-self: flex-end;
}
div .imgR{
    grid-area: imgR;
}
div .hist{
    grid-area: hist;
}
.imgH1{
    padding-left:5rem;
    padding-bottom: 1rem;
    width: 25rem;
    height: 25rem;
}
.imgH2{
    padding-top: 1rem;
    padding-left:5rem;
    width: 25rem;
    height: 25rem;
}
.imgH3{
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    width: 25rem;
    height: 25rem;
}
.imgH4{
    padding-top: 1rem;
    padding-left: 1.5rem;
    width: 25rem;
    height: 25rem;
}
.presupuesto{
    width: 60rem;
    height: 20rem;
    margin: 2em;
    padding: 1em;
    border-width: 1em;
    padding: 1em;
    border-style: double;
}
body {
    font-family: italic;
    background-color: #404040;
}
.h1trabajos{
    text-align: center;
    font-size: 4rem;
    color: #981914;
}
.rss{display: flex;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
}
.rss div a svg:hover{
    transform: scale(1.50);
}
svg{
    color: red;
}
.rss div a svg{
    justify-content: space-between;
    padding-top: 1em;
    width: 3rem;
    height: 3rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to top, #981914,#191919, #404040);
}
.footer div h2{
    color: whitesmoke;
}
.ubicacion iframe{
    padding-top: 1em;
    width: 31.2rem;
    height: 21.8rem;
}
@media screen and (min-width:576px){
    .gridTrabajos{
        justify-content: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'motor'
        'tapa'
        'embrague'
        'extra';
    }
    div .gridTapas{
        grid-area: tapa;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    div .gridMotores{
        padding-left: 0rem;
        grid-area: motor;
        padding-bottom: 1.5rem;
    }
    div .gridEmbragues{
        grid-area: embrague;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    div .gridExtra{
        grid-area: extra;
        padding-top: 1.5rem;
    }
    .footer{
        padding-top: 3rem;
        flex-direction: column;
    }
    div .ubicacion{
        padding-top: 2rem;
    }
}
@media screen and (min-width:768px){
    .gridTrabajos{
        grid-template-rows: repeat(2, auto) ;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'motor tapa'
        'embrague extra';}
    div .gridTapas{
        grid-area: tapa;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    div .gridMotores{
        grid-area: motor;
        padding-top: 1rem;
    }
    div .gridEmbragues{
        grid-area: embrague;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    div .gridExtra{
        grid-area: extra;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    div .ubicacion iframe{
        height: 300px;
        width: 300px;
    }
    div .ubicacion{
        padding-top: 3rem;
    }
}
