.h1trabajos{
    text-align: center;
    font-size: 4rem;
    color: #981914;
}
div.gridTrabajos{
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
}
.gridTrabajos div div ul li{
    background-color: #191919;
    color: white;
    border-color: red;
}